<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Express Yourself!!</title>

  <link rel="stylesheet" type="text/css">

  <script type="text/javascript"></script>
</head>

<body>

  <canvas id="c"></canvas>
  <script src="https://threejsfundamentals.org/threejs/resources/threejs/r105/three.min.js"></script>
  <script src="https://threejsfundamentals.org/threejs/resources/threejs/r105/js/controls/OrbitControls.js"></script>
  <script src="https://threejsfundamentals.org/threejs/resources/threejs/r105/js/loaders/GLTFLoader.js"></script>
  <script src="https://threejsfundamentals.org/threejs/../3rdparty/dat.gui.min.js"></script>
  <script src="js/three.js"></script>
  <script src="js/GLTFLoader.js"></script>
  <script src="js/OrbitControls.js"></script>
  <script>
  // ===================== MAIN THREE.JS SCRIPT================================ //
  // Instantiate a loader
  var loader = new THREE.GLTFLoader();

  // Load a glTF resource
  var container = document.createElement( 'div' );
  document.body.appendChild( container );

  var camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 0.25, 20 );
  camera.position.set( - 1.8, 0.9, 2.7 );
  var scene = new THREE.Scene();
  var renderer = new THREE.WebGLRenderer( { antialias: true } );
  renderer.setPixelRatio( window.devicePixelRatio );
  renderer.setSize( window.innerWidth, window.innerHeight );
  renderer.gammaOutput = true;
  container.appendChild( renderer.domElement );
  loader.load(

  	// resource URL
  	'models/scene.gltf',
    
  	// called when the resource is loaded
  	function ( gltf ) {

      scene.add(gltf.scene);

  	},
  	// called while loading is progressing
  	function ( xhr ) {

  		console.log( ( xhr.loaded / xhr.total * 100 ) + '% loaded' );

  	},
  	// called when loading has errors
  	function ( error ) {

  		console.log( 'An error happened' );

  	}
  );

  // ===================== END THREE.JS SCRIPT ================================ //
  </script>
</body>



</html>
